/*通用的js组件css*/

/*boxy组件css*/

.popover {
	display: none;
	left: 0;
	padding: 5px;
	position: absolute;
	top: 0;
	z-index: 1010;
}

.popover.left {
	margin-left: 5px;
}
.popover.right {
	margin-right: 5px;
}
.popover.top {
	margin-top: 5px;
}
.popover.bottom {
	margin-bottom: 5px;
}

.fade {
	opacity: 0;
	transition: opacity 0.15s linear 0s;
}

.fade.in {
	opacity: 1;
}

.popover .arrow {
	height: 0;
	position: absolute;
	width: 0;
}
.popover.left .arrow {
	border-bottom: 5px solid transparent;
	border-right: 5px solid #000000;
	border-top: 5px solid transparent;
	left: 0;
	margin-top: -5px;
	top: 50%;
}
.popover.right .arrow {
	border-bottom: 5px solid transparent;
	border-left: 5px solid #000000;
	border-top: 5px solid transparent;
	right: 0;
	margin-top: -5px;
	top: 50%;
}
.popover.top .arrow {
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000000;
	border-left: 5px solid transparent;
	left: 50%;
	margin-right: -5px;
	top: 0;
}
.popover.bottom .arrow {
	border-right: 5px solid transparent;
	border-top: 5px solid #000000;
	border-left: 5px solid transparent;
	bottom: 0;
	margin-right: -5px;
	left: 50%;
}

.popover-inner {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	padding: 3px;
}

.popover-title {
	background-color: #F5F5F5;
	border-bottom: 1px solid #EEEEEE;
	border-radius: 3px 3px 0 0;
	line-height: 1;
	padding: 9px 15px;
}

.popover-content {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border-radius: 0 0 3px 3px;
	padding: 14px;
}

/*icons*/
.icons_gray {
	background-image:url("../image/glyphicons-halflings.png");	
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	width: 14px;
}

.icons_gray_white {
	background-image:url("../image/glyphicons-halflings-white.png");	
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	width: 14px;
}

