/*共有*/

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
	display: block;  
} 

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 12px;
}
body, ul, ol, h1, h2, h3, h4, h5, h6, form, li, p {
	margin: 0;
	padding: 0;
}

form label {
	padding-left: 5px;	
}

.clear {
	clear: both;
}

.spacer {
	height: 20px;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*header*/
header#header {
	height: 55px;
	width: 100%;
	background: #222222 url(../image/header_bg.png) repeat-x;
}

header#header h1.site_title, header#header h2.section_title {
	float: left;
	margin: 0;
	font-size: 22px;
	display: block;
	width: 270px;
	height: 55px;
	font-weight: normal;
	text-align: left;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
	color: #fff;
	text-decoration: none;
}

header#header h2.section_title {
	text-align: center;
	text-indent: 4.5%;
	width: 68%;
	background: url(../image/header_shadow.png) no-repeat left top;
}
section#secondary_bar {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../image/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
	float: left;
	width: 270px;
	height: 38px;
}

.user p {
	margin: 0;
	padding: 0;
	color: #666666;
	font-weight: bold;
	display: block;
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	text-shadow: 0 1px 0 #fff;
	background: url(../image/icn_user.png) no-repeat center left;
	margin-left: 6%;
}

.user a {
	text-decoration: none;
	color: #666666
}

.user a:hover {
	color: #77BACE;
}

.user a.logout_user {
	float: left;
	display: block;
	width: 16px;
	height: 35px;
	text-indent: -5000px;
	background: url(../image/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
	float: left;
	width: 77%;
	background: url(../image/secondary_bar_shadow.png) no-repeat left top;
	height: 38px;
}

article.breadcrumbs {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 4px 3%;
}

.breadcrumbs a {
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
	color: #9E9E9E;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}

.breadcrumbs a:hover {
	color: #222222;
}

.breadcrumb_divider {
	display: inline-block;
	width: 12px;
	height: 24px;
	background: url(../image/breadcrumb_divider.png) no-repeat;
	float: left;
	margin: 0 5px;
}


#bg_wrapper {
	border-left: 1px solid #C0C0C0;
	float: left;
	margin: 0 0 0 -1px;
	position: absolute;
	top: 93px;
	margin-top: -4px;
	overflow: auto;
	width: 100%;
	bottom: 0px;
	left: 0px;
	overflow:hidden;
}


aside#sidebar {
	width: 270px;
	background: #E0E0E3 url(../image/sidebar.png) repeat;
	float: left;
	height: 100%;
	margin-top: -4px;
	position: relative;
	z-index:1;
}

#sidebar ul {
	list-style-position: outside;
	list-style-type: none;
}
#sidebar li a {
	background: url("../image/dotted_line.gif") repeat-x scroll left top transparent;
	display: block;
	line-height: 32px;
	outline: medium none;
	padding: 0 40px;
	text-decoration: none;
	width: 210px;
	color: black;
}
#sidebar ul li ul li a:hover {
	background-color: #FFFFFF;
}
#sidebar .current a {
	background-color: #FFFFFF;
}
#sidebar ul li a:hover {
	color: #555555;
}
#sidebar .headitem {
	border-top: 1px solid #C0C0C0;
	font-size: 15px;
	line-height: 64px;
	padding: 0 10px 0 80px;
	width: 180px;
}

#sidebar .icons_computer {
    background: url("../image/icons_computer.png") no-repeat scroll 15px center transparent;
}
#sidebar .icons_advanced {
    background: url("../image/icons_advanced.png") no-repeat scroll 15px center transparent;
}
#sidebar .icons_search {
    background: url("../image/icons_search.png") no-repeat scroll 15px center transparent;
}

#main {
	width: 100%;
	height: 100%;
	bottom:0px;
	background: url(../image/sidebar_shadow.png) repeat-y left top;
	float: left;
	margin: -2px 0px 0px 270px;
	overflow:auto;
}


/*详细的应用开始*/
.empty_line {
	height:30px;	
}
.button_bottom {
	height: 30px;
	width: 100%;
	margin:0px 0px -2px 0px;
	position: fixed;
	bottom: 0px;
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
	background-repeat: repeat-x;
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	list-style: none outside none;
	margin: 0 0 0px;
	padding: 3px 14px;
}

.btn {
	color:#ffffff;
	border-radius: 5px 5px 5px 5px;
	font-size: 12px;
	line-height: normal;
	padding: 3px 14px;	
	vertical-align: middle;
	text-align: center;
	margin: 0px 5px;
	cursor: pointer;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	background-color: #43A1DA;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

a.button, button.button {
	background: none repeat scroll center top #EDEEED;
	border: 1px solid #C3C4BA;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font-family: "MuseoSans500",helvetica,arial,sans-serif;
	font-weight: normal;
	padding:5px;
}

.content {
	padding:10px;
}

.tips {
	line-height: 24px;
	background: none repeat scroll 0 0 #FFF6BF;
	border-radius: 10px 10px 10px 10px;
	line-height: 24px;
	padding: 10px;
	margin-bottom: 10px;
}


/*表单设置*/
.ltmtab {
	width:100%;
}

.ltmtab td , .ltmtab th {
	padding:5px;
	border-bottom: 1px solid #EAEAEA;
}

.tab_set {
	line-height: 50px;	
}

/*input type=text*/
.text {
	background-color: #ffffff;
	border: 1px solid #959595;
	color: #333333;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	font-size: 12px;
	padding: 5px;
}
.text_disabled {
	background-color: #EAEAEA;
	border: 1px solid #959595;
	color: #333333;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	font-size: 12px;
	padding: 5px;
}

.wtd1 {
	width: 240px;	
}
.wtd2 {
	width: 40px;	
}

/*select*/
select {
	background-color: #FFFFFF;
}
select {
	border: 1px solid #BBBBBB;
	width: 220px;
}
select, input[type="file"] {
	height: 28px;
	line-height: 28px;
}

.add-on {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	min-width: 16px;
	padding: 4px 5px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	vertical-align: middle;
	width: auto;	
}
.add-on-left {
	margin-left:-2px;
	font-weight:700;
	border-radius: 0 3px 3px 0;
}

.add-on-mid {
	margin:0px -2px;
	font-weight:700;
}
.form_boxy_span {
	width: 1px;
	height: 18px;
	display: inline-block;
	text-align: center;
}

/* alert*/
.alert {
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
} 
.alert p{
	margin: 5px;
	text-align:center;
	vertical-align: middle;
	line-height: 25px;
	font-size: 14px;
} 
.alert-failure {
	background-color: rgba(213, 43, 43, 0.46);
	border-color: #E8D1DF;
	color: #000000;	
}
.alert-success {
	background-color: rgba(63, 213, 43, 0.46);
	border-color: #E8D1DF;
	color: #000000;	
}

.head_notice {
	width: 100%;	
}

.head_notice h3 {
	border-bottom: 3px solid black;
	margin: 5px;
	padding-bottom: 5px;
}

.head_notice h3 .icons_help {
	background-position: -96px -96px;	
	margin-left: 5px;
	cursor: pointer;
}
.head_notice h3 .icons_head {
	background-position: -120px -144px;
	margin-left: 5px;
	cursor: pointer;
}

/*列表页的table样式*/

.listtab {
	margin-bottom: 15px;
	width: 100%;	
}

.listtab th {
	background: none repeat scroll 0 0 #EAEAEA;
	color: #222222;
	padding: 10px;
	text-align: center;
}

.listtab tr:hover {
	#background: none repeat scroll 0 0 #FFF6BF;
}
.listtab th .first {
	width: 30px;
}

.listtab th .last {
	width: 200px;
	min-width: 90px;
}

.listtab td {
	 border-bottom: 1px solid #EAEAEA;
	 padding: 5px;
}

.icon-zoom-in {
	background-position: -336px 0;	
}

.icon-close {
	background-position: -310px 0;	
}

.icons-edit {
	background-position: -96px -72px;	
}

.icons-trash {
	background-position: -456px 0;	
}

.actions-bar {
	padding: 10px 1px;
}
.wat-cf {
	display: block;
	height: 40px;
	padding:10px;
}

.actions-bar .pagination {
	float: right;
	padding: 1px 0;
}

.pagination a, .pagination span {
	background: url("../image/button-background.png") repeat scroll 0 0 #DDDDDD;
	border: 1px solid #C3C4BA;
	border-radius: 2px 2px 2px 2px;
	color: #111111;
	margin-right: 5px;
	min-width: 15px;
	padding: 6px;
	text-align: center;
	display: block;
	float: left;
}


.pagination a.current {
	background: none repeat scroll 0 0 #261F1F;
	border: 1px solid #261F1F;
	color: white;
}

.pagination a:hover {
	border: 1px solid #818171;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.pagination a:active {
	background-image: url("../image/button-background-active.png");
	outline: medium none;
}

.actions {
	float:left;	
}

.block {
	background-color: white;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.3);
	padding-top: 0;
}

/* 详细信息展示样式 */
.preview_list {
	width: 100%;
#	border: #CCC 1px solid;
}
.preview_list dl {
	margin:0px;
}
.preview_list dd {
	margin:0px 1px;
	border: #CCC 1px solid;
}

.preview_list dt {
	width:100%;
	height: 29px;
	background: none repeat scroll 0 0 rgba(10, 174, 252, 0.82);
}

.preview_list .ltitle {
	background: none repeat scroll 0 0 rgba(10, 174, 252, 0.82);
	border: 1px solid white;
	float: left;
	padding: 5px 15px;
	line-height:16px;
	margin-top:1px;
	color:white;
	cursor: pointer;
	position: relative;
	margin-right: 2px;
	border-bottom: none;
}
.preview_list .current {
	color: rgba(10, 174, 252, 0.82);
	background: #FDFFFE;
}
.preview_list .arrow {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid  rgba(10, 174, 252, 0.82);
	bottom: 0;
	left: 50%;
	top:29px;
	margin: -3px 0px 0px -5px;
	height: 0;
	position: absolute;
	width: 0;
}
